{{ define "title" }}
  {{ .Site.Title }} - {{ .Title }}
{{ end }}
{{ define "main" }}
  {{ if eq .Kind "taxonomy" }}
    <section role="banner">
      <div class="tag-header">
        Filtered by:  <span class="tag-title">{{ lower .Title }}</span>
      </div>
    </section>
  {{ end }}
  <section role="main">
    {{ range $i, $p := (.Paginate .Data.Pages).Pages }}
      {{ with $p }}
        <article>
          {{ partial "post-header.html" (dict "Post" . "Site" .Site "IsPage" $.IsPage) }}
          <section class="post-excerpt">
            <p>
              {{ .Summary | truncate 330 }}
            </p>
          </section>
        </article>
      {{ end }}
    {{ end }}
  </section>
  {{ partial "pagination.html" . }}
{{ end }}
