<meta name="viewport" content="initial-scale=1, maximum-scale=1">

<link rel="stylesheet" href="/css/main.css"/>
<link rel="stylesheet" href="/css/prism.css"/>
<link rel="stylesheet" href="/css/lightbox.min.css"/>

<link rel="shortcut icon" href="/images/favicon.ico">

<link rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">

<link rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Open+Sans|Lustria|Roboto+Mono">

<script src="/js/lightbox-plus-jquery.min.js">
</script>

<script>
    lightbox.option({
      'wrapAround': true,
      'resizeDuration': 0,
      'fadeDuration': 0,
      'imageFadeDuration': 0,
    })
</script>

<script src="/js/prism.js">
</script>

<script>
var width = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
if (width < 480) {
  document.write('<script src="/js/hyphenator-loader.js"><\/script>');
}
</script>

<script src="/js/analytics.js">
</script>
