<meta charset="UTF-8" />

<meta name="description" content="{{ .Description }}">
<meta name="author" content="{{ .Site.Author }}">

<meta name="viewport" content="initial-scale=1, maximum-scale=1">

<link rel="stylesheet" href="/css/main.css"/>
<link rel="stylesheet" href="/css/fa.css"/>
<link rel="stylesheet" href="/css/prism.css"/>
<link rel="stylesheet" href="/css/lightbox.min.css"/>

<link rel="shortcut icon" href="/icons/favicon.ico">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lustria">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono">

<script src="/js/lightbox-plus-jquery.min.js">
</script>

<script>
    lightbox.option({
      'wrapAround': true,
      'resizeDuration': 0,
      'fadeDuration': 0,
      'imageFadeDuration': 0,
    })
</script>

<script src="/js/prism.js">
</script>
