<meta name="viewport" content="initial-scale=1, maximum-scale=1">

<link rel="stylesheet" href="/css/main.css"/>
<link rel="stylesheet" href="/css/prism.css"/>
<link rel="stylesheet" href="/css/lightbox.min.css"/>

<link rel="shortcut icon" href="/images/favicon.ico">

<link rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">

<link rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Open+Sans|Lustria|Roboto+Mono">

<script src="/js/lightbox-plus-jquery.min.js">
</script>

<script>
    lightbox.option({
      'wrapAround': true,
      'resizeDuration': 0,
      'fadeDuration': 0,
      'imageFadeDuration': 0,
    })
</script>

<script src="/js/prism.js">
</script>

<script src="/js/hyphenator-loader.js">
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93472390-1', 'auto');
  ga('send', 'pageview');
</script>
