<nav role="pagination">
  <div class="paginator no-print">
    {{ if .Paginator.HasPrev }}
    <div class="page-prev">
      <a href="{{ .Paginator.Prev.URL }}">
        <i class="fa fa-angle-left"></i>
        newer
      </a>
    </div>
    {{ else }}
    <div class="page-prev page-blocked">
        <i class="fa fa-angle-left"></i>
        newer
    </div>
    {{ end }}

    <div class="page-number">
      {{ .Paginator.PageNumber }} / {{ .Paginator.TotalPages }}
    </div>

    {{ if .Paginator.HasNext }}
    <div class="page-next page-blocked">
      <a href="{{ .Paginator.Next.URL }}">
        older
        <i class="fa fa-angle-right"></i>
      </a>
    </div>
    {{ else }}
        older
        <i class="fa fa-angle-right"></i>
    {{ end }}
  </div>
</nav>
