<header id="header" class="no-print">
  <div id="caption">
    Victor Gaydov
  </div>
  <div id="menu">
    <div>
      <div>
        {{ if eq .URL "/about/" }}
          <a href="/about/" class="menu-item menu-selected">
        {{ else }}
          <a href="/about/" class="menu-item">
        {{ end }}
            About
          </a>
      </div>
    </div>
    <div>
      <div>
        {{ if eq .URL "/software/" }}
          <a href="/software/" class="menu-item menu-selected">
        {{ else }}
          <a href="/software/" class="menu-item">
        {{ end }}
            Software
          </a>
      </div>
    </div>
    <div>
      <div>
        {{ if eq .Section "articles" }}
          <a href="/articles/" class="menu-item menu-selected">
        {{ else if eq .Kind "taxonomy" }}
          <a href="/articles/" class="menu-item menu-selected">
        {{ else }}
          <a href="/articles/" class="menu-item">
        {{ end }}
            Articles
          </a>
      </div>
    </div>
    <div id="header-buttons">
      <div>
        <a href="https://twitter.com/gavv42" class="image-button">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="{{ .Site.RSSLink | relURL }}" class="image-button">
          <i class="rss-button fa fa-rss"></i>
        </a>
      </div>
    </div>
  </div>
</header>
