<header id="header" class="no-print">
  <div id="caption">
    Victor Gaydov
  </div>
  <div id="menu">
    <div>
      <div>
        <a href="/">About</a>
      </div>
    </div>
    <div>
      <div>
        <a href="/projects">Projects</a>
      </div>
    </div>
    <div>
      <div>
        <a href="/blog">Blog</a>
      </div>
    </div>
    <div id="header-buttons">
      <div>
        <a href="https://twitter.com/gavv42" class="image-button">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="{{ .Site.RSSLink | relURL }}" class="image-button">
          <i class="rss-button fa fa-rss"></i>
        </a>
      </div>
    </div>
  </div>
</header>
